* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background-color: rgb(253, 215, 221);
    font-family: 
    "Courier New", Courier, monospace
    /* 'Raleway', sans-serif; */
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 2%;
	background-color: rgb(235, 123, 119);
	height: 600px;
}

h1 {
    color: #080000;
}


.scoreWrap {float: left;}
.timeWrap {float: right;}

/* .outerWrap:after {
	content: "";
	display: block;
	clear: both;
} */

/* .bg {
	background-color: #04AF71;
} */
/* 
button {
   border: none;
  background-color: #FF7373;
  box-shadow: 0px 5px 0px 0px #CE4646;
  outline: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
} */

/* button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
} */

.scoreWrap p, .scoreWrap span, .timeWrap p, .timeWrap span {
    font-size: 50px;
    color: rgb(253, 215, 221);
}

/* .wordsWrap {
	margin-top: 50px;
} */

/* .words span{
    font-size: 10px;
    letter-spacing: 1px;
    color: #ECF0F1;
} */




.container.text-center {
    text-align: center;
}

.createPlayer {
    text-align: center;
}

.scores {
    
    

    text-align: center;
    font-size: 20px;
    color: rgb(231, 96, 91);

    /* width: 300px;
    border: 15px solid red;
    padding: 50px;
    margin: 20px; */

    margin: auto;
  width: 50%;
  border: 3px solid rgb(233, 121, 121);
  padding: 10px;


 
}


.instructions {
    background-color: rgb(248, 136, 132);
    text-align: center;
    font-size: 20px;
    color: rgb(238, 230, 232);

    margin: auto;
  width: 50%;
  border: 3px solid rgb(253, 215, 221);
  padding: 10px;
}

.title {
    background-color: rgb(253, 215, 221);
    font-size: 20px;
}


.submit {
    border: none;
   background-color: rgb(253, 215, 221);
   box-shadow: 0px 5px 0px 0px rgb(238, 174, 184);
   outline: none;
   border-radius: 5px;
   padding: 10px 15px;
   font-size: 22px;
   text-decoration: none;
   margin: 20px;
   color: rgb(202, 68, 63);
   position: relative;
   display: inline-block;
   cursor: pointer;
 }

 .game-word {
    font-size: 85px;
    color: rgb(253, 215, 221)
 }
 


